<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="../css/add-user.css">
    <link rel="stylesheet" href="../css/critical.css">
    <link rel="stylesheet" href="../css/admin.css">

</head>
<body>
    <section class="add-user">
        <div class="general__links-crumbs">
            <a class="general__link-crumb" href="/admin">Главная</a>
            <span class="general__slash">/</span>
            <a class="general__link-crumb" href="/view-drug">Посмотреть препараты</a>
            <span class="general__slash">/</span>
            <a class="general__link-crumb" href="/add-drug">Добавить препарат</a>
            <span class="general__slash">/</span>
            <a class="general__link-crumb" href="/add-drone">Добавить дрон</a>
        </div>
    </section>
    <section
        style="max-width: 1024px; height:auto; margin: 150px auto;display:flex;align-items:center; justify-content:center;">
        <div class="sidebar">
            <form action="/view-drug" method="post" novalidate>
                <div class="search-block">
                    <input class="searchDrone" name="searchDrug" type="search" placeholder="Начать поиск....">
                    <img class="imgSearch" src="./assets/icons/search.svg" alt="search.svg">
                </div>
                <button class="admin-btn" type="submit">Поиск</button>
            </form>
        </div>
        <div class="main-window">
            {{{body}}}
            <table>
                <thead>
                    <tr>
                        <th>Описание</th>

                        <th>Картинка</th>

                        <th>Название</th>

                        <th>Подзаголовок</th>
                    </tr>
                </thead>
                {{#each rows}}
                <tr>
                    <td>{{this.description}}</td>

                    <td>{{this.img}}</td>

                    <td>{{this.title}}</td>

                    <td>{{this.subtitle}}</td>

                    <td><a style="text-decoration: none; color: #fff;" href="/edit-drug/{{this.id}}">Edit</a></td>
                    <td><a style="text-decoration: none; color: #fff;" href="/{{this.id}}">Delete</a></td>
                </tr>
                {{/each}}
            </table>
        </div>
    </section>


</body>
</html>