<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="../css/critical.css">
    <link rel="stylesheet" href="../css/add-user.css">
</head>
<body>

    <section style="max-width: 1025px; height: auto; margin: 55px auto;" class="add-user">
        <div class="general__links-crumbs">
            <a class="general__link-crumb" href="/admin">Главная</a>
            <span class="general__slash">/</span>
            <a class="general__link-crumb" href="/add-user">Добавить дрон</a>
            <span class="general__slash">/</span>
            <a class="general__link-crumb" href="/edit-user/:id">Редактировать дрон</a>
        </div>
    </section>
    {{#if alert}}
    <div class="alert">
        <h3 class="alert-title">{{alert}}</h3>
        <button class="alert-close">Закрыть</button>
    </div>
    {{/if}}

    <div class="main__block">
        <div class="add-drone__block">
            {{#each rows}}
            <form action="/edit-drone/{{this.id}}" method="POST">
                <div class="add-drone__input-block">
                    <div class="add-drone__inputs">
                        <div class="add-drone__input-box"><input class="add-drone__input" name="titleDrone" type="text"
                                placeholder="Название" value="{{this.title}}"></div>
                        <div class="add-drone__input-box"><input class="add-drone__input" name="brandDrone" type="text"
                                placeholder="Брэнд" value="{{this.brand}}"></div>
                        <div class="add-drone__input-box"><input class="add-drone__input" name="modelDrone" type="text"
                                placeholder="Модель" value="{{this.model}}"></div>
                        <div class="add-drone__input-box"><input class="add-drone__input" name="instockDrone"
                                type="text" placeholder="Количество" value="{{this.instock}}"></div>
                        <div class="add-drone__input-box"><input class="add-drone__input" name="priceDrone" type="text"
                                placeholder="Цена" value="{{this.price}}"></div>
                    </div>
                    <div class="add-user__input-box">
                        <input class="add-drone__download-btn" name="imgDrone" type="file" value="{{this.imgDrone}}">
                    </div>
                </div>
                <div class="admin-btn-block"><button class="add-drone__btn" type="submit">Отправить</button></div>
            </form>
            {{/each}}
        </div>
    </div>
    {{{body}}}

    <script>
        const closeBtn = document.querySelector(".alert-close")
        const alertWindow = document.querySelector(".alert")

        closeBtn.addEventListener('click', () => {
            alertWindow.style.display = "none";
        })
    </script>
</body>
</html>